

	<!--Начало формы для отправки заявки -->
	<div class="modal fade" id="modal-realcallback" tabindex="-1" role="dialog">
		<div class="modal-dialog">
		  <div class="modal-content">
		    <div class="modal-header">
					<h3>Закажите обратный звонок!</h3>
					<p>Мы свяжимся с Вами в ближайшее время!</p>
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		    </div>
		    <div class="modal-body">
					<form action="php/post.php" method="post">
						<input name="name" class="modal-input name-input" type="text" placeholder="ИМЯ*">
						<input name="phone" class="modal-input phone-input" type="text" placeholder="ТЕЛЕФОН*">
						<input name="surname" type="text" class="surname-input" placeholder="Фамилия*">
						<input type="hidden" name="location" value="Обратный звонок">
						<button type="submit" class="button modal-submit base-but">
						Отправить
						</button>
					</form>
			  </div>
		  </div>
		</div>
	</div>
	<!--Конец формы для отправки заявки -->
	<!--Начало формы записи на курс -->
	<div class="modal fade" id="modal-callback" tabindex="-1" role="dialog">
		<div class="modal-dialog">
		  <div class="modal-content">
		    <div class="modal-header">
					<h3>Оставьте заявку, чтобы записаться на курс</h3>
					<p>Мы свяжимся с Вами в ближайшее время!</p>
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		    </div>
		    <div class="modal-body">
					<form action="php/post.php" method="post">
						<input name="name" class="modal-input name-input" type="text" placeholder="ИМЯ*">
						<input name="email" class="modal-input email-input" type="text" placeholder="EMAIL*">
						<input name="surname" type="text" class="surname-input" placeholder="Фамилия*">
						<input type="hidden" name="location" value="Запись на курс">
						<button type="submit" class="button modal-submit base-but">
						Отправить
						</button>
					</form>
			  </div>
		  </div>
		</div>
	</div>
	<!--Конец формы записи на курс -->

	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript" src="js/myApp.js"></script>
</body>
</html>
