	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=cyrillic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
<header>
	<div class="head1 hidden-lg-down">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-2 head1-col1">
					<p>Международные грузоперевозки</p>
				</div>
				<div class="col-lg-8 head1-contactgroup">
					<span class="phone">+7 495 777 28 83</span>
					<span class="phone">8 800 100 28 83<span>беспл. по РФ</span></span>
					<span class="worktime"><span>ПН - ПТ</span><span>10:00 - 19:00</span></span>
				</div>
				<div class="col-lg-2 head1-but">
					<a class="all-modal-but modal-but" data-target="#modal-callback" data-toggle="modal" href="">
	          Online-заявка
	        </a>
				</div>
			</div>
		</div>
	</div>
	<div class="head2">
		<div class="container head2__container">
			<div class="burger-logo">
				<div id="burger" class="hidden-xl-up"></div>
				<a href="/">
					<div class="logo"></div>
				</a>
			</div>
				<div class="left-menu-overlay"><div class="left-menu-overlay-close"></div></div>
				<nav id="menu-box">
						<ul id="menu">
							<li class="sub-menu">
								<a href="#">Услуги</a>
								<div class="open-sub-menu"></div>
								<ul>
									<li><a href="#">Авиаперевозки грузов</a></li>
									<li><a href="">Автоперевозки грузов</a></li>
									<li><a href="">Морская перевозка грузов</a></li>
									<li><a href="">Международные ж/д перевозки</a></li>
									<li><a href="">Мультимодальные перевозки</a></li>
									<li><a href="">Аутсорсинг ВЭД</a></li>
									<li><a href="">Работа с поставщиками</a></li>
									<li><a href="">Страхование и сертификация</a></li>
									<li><a href="">Складские услуги</a></li>
									<li><a href="">Таможенное оформление</a></li>
								</ul>
							</li>
							<li class="sub-menu">
								<a href="#">Перевозимые грузы</a>
								<div class="open-sub-menu"></div>
								<ul>
									<li><a href="#">Сборные грузы</a></li>
									<li><a href="">Контейнерные перевозки</a></li>
									<li><a href="">Наливные и сыпучие грузы</a></li>
									<li><a href="">Негабаритные грузы</a></li>
									<li><a href="">Опасные грузы</a></li>
									<li><a href="">Грузы с температурным режимом</a></li>
									<li><a href="">Ветеринарные грузы</a></li>
								</ul>
							</li>
							<li><a href="#">Online-расчет</a></li>
							<li><a href="#">О компании</a></li>
							<li><a href="#">Контакты</a></li>
						</ul>
						<div class="social_links hidden-xl-up">
							<a href=""><img src="images/mob-vk.png" alt=""></a>
							<a href=""><img src="images/mob-f.png" alt=""></a>
							<a href=""><img src="images/mob-tw.png" alt=""></a>
						</div>
				</nav>
				<div class="header__phone-mobile hidden-xl-up">
					<a href="tel:88001002883">8 800 100 28 83</a>
				</div>
		</div>
	</div>
</header>
