	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=cyrillic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
<header id="header">
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        <a href="#header">
          logo
          <img src="images/logotype.png" alt="">
        </a>
      </div>
      <div class="col-xs-7">
          <ul id="menu">
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
      </div>
      <div class="header__contacts col-xs-2">
        <a class="all-modal-but modal-but" data-target="#modal-callback" data-toggle="modal" href="">
          Заказать звонок
        </a>
      </div>
    </div>
  </div>
</header>
